@{
    ViewData["Title"] = "Home Page";
}


<div class="banner text-center">
	<div class="container-fluid">
		<div class="row align-items-center">
			<img src="@Url.Content("~/images/banner.jpg")" class="rounded mx-auto d-block" />
			<div >
				<button type="button" class="btn banner-btn"><a class="text-decoration-none banner-btn-text">Check this out!</a></button>
			</div>
		</div>
	</div>
</div>

