html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin:0px;
    padding:0px;
    background-color: #EDEDE9;
}

.a-background-color {
    background-color: #212529;
}
.a-text-color, .a-text-color:hover {
    color: #F5EBE0;
}
.a-text-color2 {
    color: #D6CCC2;
}
.a-field-color {
    background-color: #212529;
}

.product-btn-text, .product-btn-text:hover {
    color: #212529;
}
.products-img {
    float:initial;
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.btn-item {
    background-color: #D6CCC2;
    color: #212529;
}

.minimalistic-banner {
    background-image: url('../images/minimalisticBanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: center;
    background-size: cover;
    border-radius:10px;
    height: 170px;
}
.contact-banner {
    background-image: url('../images/contactBanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 170px;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}