@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FurnituresService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FurnituresService.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark a-background-color border-bottom box-shadow mb-3">
            <div class="container-fluid p-3">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link a-text-color fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.IsInRole("Admin")){
                            <li class="nav-item">
                                <a class="nav-link a-text-color fw-bold" asp-area="" asp-controller="Furnitures" asp-action="Show">Admin Dashboard</a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link a-text-color fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Catalog</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link a-text-color fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Gallery</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link a-text-color fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer a-text-color a-background-color pt-3">
        <div class="container">&copy; 2023 - FurnituresService</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
